<h1>MyGarage</h1>

<div class="row">
  <% @vehicles.each do |vehicle| %>
    <div class="col-md-4">
      <h3><%= link_to vehicle.vehicle_nickname, "/vehicles/#{vehicle.id}" %> </h3>
      <h4><%= vehicle.year %> <%= vehicle.make %> <%= vehicle.model %> </h4>
      <h4><%= vehicle.trim %></h4>
      <h4><%= vehicle.style %></h4>
      <h4><%= vehicle.color %></h4>
      <h4><%= vehicle.license_state %> <%= vehicle.license_number %></h4>
      <h4><%= vehicle.vin_num %></h4>
    </div>
  <% end %>
</div>