<h1>MyGarage</h1>

<div class="row">
  <% @vehicles.each do |vehicle| %>
    <div>
      <h3><%= vehicle.vehicle_nickname %></h3>
      <h3><%= vehicle.make %></h3>
      <h3><%= vehicle.model %></h3>
      <h3><%= vehicle.year %></h3>
      <h3><%= vehicle.trim %></h3>
      <h3><%= vehicle.style %></h3>
      <h3><%= vehicle.color %></h3>
      <h3><%= vehicle.vin_num %></h3>
    </div>
  <% end %>
</div>