<h3><%= current_user.first_name %>'s Garage</h3>
<div class="row">
  <% @vehicles.each do |vehicle| %>
    <div class="col-md-4">
      <ul>
        <li><%= image_tag vehicle.image.url(:thumb) %></li>
        <li><h4><%= link_to vehicle.vehicle_nickname, "/vehicles/#{vehicle.id}" %></h4></li>
        <li><b>Vehicle:  </b><%= vehicle.year %> <%= vehicle.make %> <%= vehicle.model %> </li>
        <li><b>Trim: </b><%= vehicle.trim %></li>
        <li><b>Style: </b><%= vehicle.style %></li>
        <li><b>Color: </b><%= vehicle.color %></li>
        <li><b>License: </b><%= vehicle.license_state %> <%= vehicle.license_number %></li>
        <li><b>VIN #: </b><%= vehicle.vin_num %><</li>
      </ul>
    </div>
  <% end %>
</div>
<br>
<div>
  <a class="btn btn-primary btn-sm" href="/vehicles/new" role="button">Add New Vehicle</a>
</div>
