<h1>Add A New Vehicle To Your Garage</h1>

<%= form_tag '/vehicles', method: :post do %>
  <div>
    <%= label_tag :vehicle_nickname %>
    <%= text_field_tag :vehicle_nickname %>
  </div>
  <div>
    <%= label_tag 'VIN Number: ' %>
    <%= text_field_tag :vin_num %>
  </div>
  <div>
    <%= label_tag :color %>
    <%= text_field_tag :color %>
  <div>
    <%= label_tag 'License Plate State: ' %>
    <%= select_tag :license_state, options_for_select(us_states) %>
  </div>
  <div>
    <%= label_tag :license_number %>
    <%= text_field_tag :license_number %>
  </div>
  <div>
    <%= label_tag :mileage_reading %>
    <%= text_field_tag :mileage_reading %>
  </div>
  <div>
    <%= submit_tag "Submit" %>
  </div>
<% end %>  
<br>
