<h1><%= @vehicle.vehicle_nickname.titleize %> </h1>
<br>
<h4>Vehicle: <%= @vehicle.year %> <%= @vehicle.make %> <%= @vehicle.model %> </h4>
<h4>Trim: <%= @vehicle.trim %></h4>
<h4>Style: <%= @vehicle.style %></h4>
<h4>Color: <%= @vehicle.color %></h4>
<h4>License Plate: <%= @vehicle.license_state %> <%= @vehicle.license_number %></h4>
<h4>Vin Number: <%= @vehicle.vin_num %></h4>


<%= form_tag '/mileages', method: :post do %>
<%= hidden_field_tag :vehicle_id, @vehicle.id %>
<h4>Mileage: <%= text_field_tag :mileage_reading, @vehicle.mileages.last.mileage_reading %></h4>
<div>
    <%= submit_tag "Submit New Mileage" %>
  </div>
<% end %>

<br>
<a class="btn btn-primary btn-xs" href= "<%= "/vehicles/#{@vehicle.id}/edit" %>" role="button">Edit Vehicle Details</a>

<%= link_to 'Delete Vehicle', "/vehicles/#{@vehicle.id}", method: :delete, class:  "btn btn-default btn-xs" %>

<br>

